<?php

namespace App\Data\Models;

use Illuminate\Database\Eloquent\Builder;
use Illuminate\Database\Eloquent\Model;
use Illuminate\Support\Carbon;

/**
 * Class {classname}
 *
{property}
 * @property Carbon|null $created_at
 * @property Carbon|null $updated_at
 */
class {classname} extends Model
{
    protected $table = '{table_name}';

    {guarded}

    {fillable}
}
