<?php

namespace {entity_ns};

use App\Foundation\Laravel\AppController;
use App\Foundation\Laravel\Responses\{
    SuccessResponse,
    ErrorResponse
};
use Throwable;

class {classname} extends AppController {

}
