<?php

namespace {entity_ns};

use App\Foundation\Abstracts\Presentation;
use App\Foundation\Interfaces\PresentationInterface;

class {classname} extends Presentation implements PresentationInterface
{
}
